* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }

  a {
    text-decoration: none;
    color: #243e63;
  }

/* landing-page */

.row,
.row__features{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.nav__title {
  color: #243e63;
  font: 24px inter, system-ui;
  font-weight: bold;
  margin: 0 24px 0 0;
  padding-left: 16px;
}

.nav__container {
  display: flex;
  align-items: center;
}


  .list {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
  }

  .list__item {
    color: #243e63;
    font: 14px inter, system-ui;
    margin: 0 24px;
    padding: 0 0 4px;
  }

  .list__item--text {
    color: #243e63;
    font-size: 14px;
    letter-spacing: 0.025em;
    font-weight: bold;
  }

  .sign__up--button {
    border-radius: 9999px;
    padding: 0.75rem 2rem 0.75rem 2rem;
    background-color: #6415ff;
    font-size: 14px;
    color: white;
    border: none;
  }

  .logo {
    max-width: 100%;
    width: 2.5rem;
    height: auto;
  }

/* React Templates*/

.intro__container {
  display: flex;
}

.intro__container--left {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.react__templates {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.25;
}

.text__purple {
  color: #6415ff;
}

.template__para {
  color: #243e63;
  font: 18px inter, system-ui;
  margin: 32px 0;
}

.template__email {
  display: flex;
  flex-direction: row;
  position: relative;
}

.template__email--address {
  background: #ffffff;
  padding: 24px 192px 24px 32px;
  border-radius: 9999px;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  margin: 0;
  color: inherit;
  box-sizing: border-box;
  width: 100%;
}

.email__start--button {
  position: absolute;
  right: 0;
  width: 160px;
  line-height: 1.5;
  font-weight: bold;
  border-radius: 999px;
  padding: 12px 0;
  margin: 10px 8px 10px 0;
  background-color: #6415ff;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border: none;
}

.landing__page--input-wrapper {
  padding-top: 80px;
}

.trusted__customers--para {
  font-size: 0.75rem;
  font: 12px inter, system-ui;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #a0aec0;
  margin: 0;
}

.intro__container--right {
  max-width: 60%;
  display: flex;
  justify-content: center;
}

.image__1 {
  max-width: 48rem;
  width: 100%;
  min-width: 0px;
  height: auto;
  display: block;
  box-sizing: border-box;
  padding: 2rem;
  font-family: inter, system-ui;
}

.image__2 {
  margin: 16px 0 0;
  padding: 0 128px 0 0;
  padding-right: 8rem;
  margin-top: 1rem;
  width: 100%;
  max-width: 48rem;
  opacity: 0.5;
}

/* FEATURES */

.container__features {
  padding: 96px 0;
  flex-direction: row;
  margin: 0 74.5px;
}

.features__title {
  color: #6415ff;
  font: 16px, system-ui;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  display: flex;
  justify-content: center;
}

.amazing__service--title {
  display: flex;
  justify-content: center;
  font-size: 48px;
  padding: 2rem;
}

.purple__text {
  color: #6415ff;
}

.features__para--1 {
  color: #7c8ba1;
  font-size: 18px;
  margin: 16px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container__features {
  padding: 80px 0;
}

.container__features--tiles {
  width: calc(100% / 3);
  height: calc(100% / 3);
  display: flex;
  flex-wrap: wrap;
  
}

.container__tile--1,
.container__tile--2,
.container__tile--3,
.container__tile--4,
.container__tile--5,
.container__tile--6 {
  padding: 32px 8px;
  margin: 0 16px;
  display: flex;
}

.secure__tile--img {
  padding: 20px;
}

.secure__tile--title {
  font-size: 24px;
}
.secure__tile--para {
  color: #a0aec0;
}


/* QUALITY WORK */ 

.quality__work--container {
  display: flex;
  align-items: center;
  max-width: 80%;
}

.quality__work--left {
  box-sizing: border-box;
  padding: 32px 0;
  margin: 32px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.quality__work--title {
  font-size: 16px;
  color: #6415ff; 
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
}

.quality__work--big {
  color: #7c8ba1;
  font-size: 48px;
  margin: 16px 0 0;
}

.quality__work--para {
  font-size: 18px;
  color: #7c8ba1;
  margin: 16px 0 0;
}

.learn__more--button {
  color: #f7fafc;
  background-color: #6415ff;
  font-size: 32px 0 0;
  padding: 12px 32px;
  border-radius: 9999px;
  text-decoration: inherit;
  width: 160px;
  font-weight: bold;
}

.quality__work--right {
  width: 50%;
}

.quality__work--img {
  border-width: 1;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}